.button {
  padding: 8px 12px;
  border-radius: 16px;
  transition: all 0.3s ease-out;

  color: var(--main-white);
  background: var(--main-blue);

  cursor: pointer;
  border: none;

  font-size: 16px;
}

.button:hover,
.button:focus {
  background: var(--main-green);
  box-shadow: var(--green-shadow);
}
