:root {
  --main-black: #54595f;
  --main-grey: #888;
  --main-white: #fff;
  --secondary-white: #f8f8f8;
  --main-blue: #243189;
  --main-green: #00a371;
  --light-blue: #afcde1;

  --form-transparent: rgba(255, 255, 255, 0.8);

  --main-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.1);
}

body {
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--main-black);
  background: var(--main-white);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

/* Scroll */

* {
  scrollbar-width: thin;
  scrollbar-color: var(--light-blue) var(--secondary-white);
}
